h1 Nick Touchette
modal(title='Single Section' sub-title='Section Test' sections='vm.section')
modal(title='Content Box 1' sub-title='Lorem' sections='vm.sections')
modal(title='Content Box 2' sub-title='Ipsum' sections='vm.sections')
