#landing
  img.monogram.center-both(src='./assets/images/monogram.png')
  img.vignette(src='./assets/images/vignette.png')
  img.landing-text.center-both(src='./assets/images/landing-text.png')
  img.more.center(ng-click='vm.scrollTo("#stack")' src='./assets/images/landing-more.png')
#stack
  img.header.center(src='./assets/images/stack-header.png')
  img.brands.center(src='./assets/images/stack-brands.png')
#solution
  img.header.center(src='./assets/images/solution-header.png')
  img.points.center(src='./assets/images/solution-points.png')
#contact
  img.header.center(src='./assets/images/contact-header.png')
  form.center
    span name
    input(type='text' name='name' value='{{vm.contact.name}}')
    span company
    input(type='text' name='company' value='{{vm.contact.company}}')
    span email
    input(type='text' name='email' value='{{vm.contact.email}}')
    span message
    textarea(name='message' rows='3') {{vm.contact.message}}
    input(type='submit' value='send message')
    img.required(src='./assets/images/contact-required.png')
#footer
  img.background(src='./assets/images/footer-background.jpg')
  .sites.center
    a(href='mailto:touchette@gmail.com')
      img(src='./assets/images/footer-mail.png')
    a(href='http://www.github.com/nicktouchette')
      img(src='./assets/images/footer-github.png')
    a(href='http://www.linkedin.com/in/nicktouchette/')
      img(src='./assets/images/footer-linkedin.png')
