#landing,
#stack,
#solution,
#contact {
  min-height: 100vh;
  padding-bottom: 150px;
}

#landing {
  background: url('../assets/images/landing-code.png') no-repeat center fixed,
              url('../assets/images/background.jpg') no-repeat 100% 100%;
}

#landing {
  height: 100vh;

  .vignette {
    height: 100%;
    max-width: 100%;
    width: 100%;
  }

  .landing-text {
    width: 472px;
    transform: translate(-50%, -1em);
  }

  .monogram {
    width: 28em;
  }

  .more {
    animation-delay: 3s;

    bottom: 5%;
    width: 2em;
  }
}

#stack {
  background: url('../assets/images/stack-background.png') no-repeat 5% 5%/531px 448px fixed,
              url('../assets/images/background.jpg') no-repeat left top/100% 100% fixed;

  .brands {
    width: 720px;
  }

  img {
    position: relative;
  }
}

#solution {
  background: url('../assets/images/solution-background.png') no-repeat 5% 5%/514px auto fixed,
              url('../assets/images/background.jpg') no-repeat left top/100% 100% fixed;

  .points {
    position: relative;
    text-align: center;
    max-width: 1032px;

    .point {
      display: inline-block;
      margin: 15px;
      width: 314px;
    }
  }

  img {
    position: relative;
  }
}

#contact {
  background: url('../assets/images/contact-background.png') no-repeat 5% 5%/449px auto fixed,
              url('../assets/images/background.jpg') no-repeat left top/100% 100% fixed;
  padding-bottom: 50px;

  form {
    position: relative;
    width: 588px;
    max-width: 95%;

    span {
      text-transform: uppercase;
      font-size: 20px;
      vertical-align: top;

      &::before {
        content: '*';
        color: $orange;
        font-size: 1.25em;
        margin-right: 5px;
      }
    }

    input[type='text'], textarea {
      display: block;
      border: 0;
      background-color: $blue-dark;
      width: 100%;
      margin-bottom: 20px;
      color: white;
      font-size: 24px;
      padding: 0.5em 0.5em;
    }

    input[type='submit'] {
      display: block;
      height: 69px;
      border: 0;
      background-color: $green;
      width: 100%;
      text-transform: uppercase;
      font-size: 1.20em;
      margin-bottom: 20px;
      border-radius: 6px;
      color: white;
    }
  }

  .required {
    width: 169px;
  }

  img {
    position: relative;
  }
}

#footer {
  position: relative;
  width: 100%;
  padding: 30px 0;
  background-color: $orange;

  .background {
    position: relative;
    width: 667px;
  }

  .sites {
    position: relative;
    width: 303px;
    max-width: 100%;

    img {
      width: 33.3%;
      display: inline-block;
      position: relative;
      padding: 20px;
    }
  }
}

img {
  position: absolute;
  display: block;
  max-width: 95%;
}

.header {
  width: 517px;
  padding-top: 157px;
  margin-bottom: 50px;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.center-both {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
