#landing,
#stack,
#solution,
#contact {
  min-height: 100vh;
  padding-bottom: 191px;
}

#landing {
  background-image: url('../assets/images/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#stack, #solution, #contact {
  background-position:  189px 0%, left top;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
}

#landing {
  height: 100vh;

  .vignette {
    height: 100%;
    max-width: 100%;
    width: 100%;
  }

  .landing-text {
    width: 372px;
    transform: translate(-50%, -1em);
  }

  .code {
    max-height: 100%;
  }

  .monogram {
    width: 28em;
  }

  .more {
    bottom: 5%;
    width: 2em;
  }
}

#stack {
  background-image: url('../assets/images/stack-background.png'), url('../assets/images/background.jpg'),;
  background-size: 531px 448px, 100% 100%;

  .brands {
    width: 720px;
  }

  img {
    position: relative;
  }
}

#solution {
  background-image: url('../assets/images/solution-background.png'), url('../assets/images/background.jpg'),;
  background-size: 514px auto, 100% 100%;

  .points {
    width: 1002px;
  }

  img {
    position: relative;
  }
}

#contact {
  background-image: url('../assets/images/contact-background.png'), url('../assets/images/background.jpg'),;
  background-size: 449px auto, 100% 100%;
  padding-bottom: 50px;

  form {
    position: relative;
    width: 588px;
    max-width: 95%;

    span {
      text-transform: uppercase;
      font-size: 20px;
      vertical-align: top;

      &::before {
        content: '*';
        color: $orange;
        font-size: 1.25em;
        margin-right: 5px;
      }
    }

    input[type='text'], textarea {
      display: block;
      border: 0;
      background-color: $blue-dark;
      width: 100%;
      margin-bottom: 20px;
      color: white;
      font-size: 24px;
      padding: 0.5em 0.5em;
    }

    input[type='submit'] {
      display: block;
      height: 69px;
      border: 0;
      background-color: $green;
      width: 100%;
      text-transform: uppercase;
      font-size: 1.20em;
      margin-bottom: 20px;
      border-radius: 6px;
      color: white;
    }
  }

  .required {
    width: 169px;
  }

  img {
    position: relative;
  }
}

#footer {
  position: relative;
  width: 100%;

  .background {
    position: relative;
    max-width: 100%;
    width: 100%;
  }

  .sites {
    position: absolute;
    bottom: 0;
    max-width: 303px;
    width: 35%;

    img {
      width: 33.3%;
      display: inline-block;
      position: relative;
      padding: 20px;
    }
  }
}

img {
  position: absolute;
  display: block;
  max-width: 95%;
}

.header {
  width: 517px;
  padding-top: 157px;
  margin-bottom: 50px;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.center-both {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
