@font-face {
    font-family: 'silkscreennormal';
    src: url('../fonts/slkscr-webfont.eot');
    src: url('../fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/slkscr-webfont.woff') format('woff'),
         url('../fonts/slkscr-webfont.ttf') format('truetype'),
         url('../fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: normal;
}

body {
  background-color: black;
  height: 100vh;
  color: white;
  font-family: 'silkscreennormal', sans-serif;
}

a, a:visited {
  text-decoration: none;
  color: purple;
}

a:hover {
  color: white;
}

#nav {
  position: absolute;
  font-size: 40px;
  top: 55%;
  margin-left: 55px;
}

#nav ul {
  list-style: none;
  width: 100%;
}

#content {
  position: absolute;
  font-size: 38px;
  top: 22%;
  margin-left: 55px;
  letter-spacing: -5px;
}

.preload-images {
  position: absolute;
  display: none;
  left: 9999px;
}

#scene {
  position: fixed;
  width: 100%;
  height: 100%;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#container * {
  position: absolute;
}

.parts, .items {
  top: 25%;
  left: 54%;
}

#light {
  transform-origin: 137px 0px;
  left: 62%;
  width: 275px;
  height: 400px;
  transform: rotate(3deg);
}

#bulb {
  z-index: -1;
  height: 140px;
  left: 120px;
  opacity: 1;
}

#glare {
  top: 115px;
  left: -5px;
}

#head {
  z-index: 10;
  left: 65px;
  top: 15px;
}

#armleft {
  transform-origin: 60px 0px;
  left: 18px;
  top: 100px;
  width: 80px;
  height: 100px;
}

#armleftbicep {
  z-index: 8;
  left: 35px;
}

#armleftfront {
  transform-origin: 41px 7px;
  z-index: 8;
  top: 50px;
}

#armright {
  transform-origin: 50px 0px;
  position: absolute;
  z-index: 13;
  left: 85px;
  top: 120px;
  width: 90px;
  height: 100px;
}

#armrightbicep {
  display: block;
  left: 48px;
  top: 0px;
}

#armrightfront {
  transform-origin: 62px 9px;
  display: block;
  top: 68px;
}

#torsotop {
  z-index: 8;
  left: 65px;
  top: 70px;
}

#torsodown {
  z-index: 7;
  left: 85px;
  top: 140px;
}

#leg {
  z-index: 6;
  left: 100px;
  top: 160px;
}

#wheel {
  z-index: 5;
  left: 90px;
  top: 210px;
}

#keyboard {
  z-index: 7;
  top: 185px;
  left: -10px;
}
#monitor {
  z-index: 12;
  top: 80px;
  left: -80px;
}

#desk {
  z-index: 6;
  top: 145px;
  left: -120px;
}

#cans {
  top: 120px;
  left: 160px;
}

#can, #candrink {
  z-index: 12;
  width: 30px;
  top: 200px;
  left: 30px;
}

#candrink {
  opacity: 0;
}

#eyelids {
  opacity: 0;
  z-index: 10;
  left: 65px;
  top: 15px;
}

#antennaright {
  transform-origin: 5px 44px;
  z-index: 10;
  left: 128px;
  top: 38px;
}

#antennaleft {
  transform-origin: 5px 44px;
  z-index: 9;
  left: 86px;
  top: 19px;
}
