@font-face {
    font-family: 'silkscreennormal';
    src: url('../fonts/slkscr-webfont.eot');
    src: url('../fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/slkscr-webfont.woff') format('woff'),
         url('../fonts/slkscr-webfont.ttf') format('truetype'),
         url('../fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: normal;
}

body {
  background-color: black;
  height: 100vh;
  color: white;
  font-family: 'silkscreennormal', sans-serif;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: purple;
}

a:hover {
  color: white;
}

#nav, #content {
  display: none;
}

#scene {
  position: fixed;
  left: 54%;
}

#container * {
  position: absolute;
}

#robot, #items {
  top: 200px;
}

#about {
  margin-bottom: 50px;
}

#project {
  margin-bottom: 50px;
}

#nav {
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#nav ul {
  width: 100%;
}

#left {
  padding-top: 170px;
  padding-left: 55px;
  width: 700px;
}

#content {
  font-size: 38px;
  letter-spacing: -5px;
}

.preload-images {
  position: absolute;
  display: none;
  left: 9999px;
}

#robot {
  width: 200px;
  height: 300px;
}

#light {
  transform-origin: 137px 0px;
  left: 100px;
  /*left: 62%;*/
  width: 275px;
  height: 400px;
  transform: rotate(3deg);
}

#bulb {
  height: 140px;
  left: 120px;
  opacity: 1;
}

#glare {
  top: 115px;
  left: -5px;
}

#head {
  left: 65px;
  top: 15px;
}

#armleft {
  transform-origin: 60px 0px;
  left: 18px;
  top: 100px;
  width: 80px;
  height: 100px;
}

#armleftbicep {
  left: 35px;
}

#armleftfront {
  transform-origin: 41px 7px;
  top: 50px;
}

#armright {
  transform-origin: 50px 0px;
  left: 85px;
  top: 120px;
  width: 90px;
  height: 100px;
}

#armrightbicep {
  left: 48px;
  top: 0px;
}

#armrightfront {
  transform-origin: 62px 9px;
  display: block;
  top: 68px;
}

#torsotop {
  left: 65px;
  top: 70px;
}

#torsodown {
  left: 85px;
  top: 140px;
}

#leg {
  left: 100px;
  top: 160px;
}

#wheel {
  left: 90px;
  top: 210px;
}

#keyboard {
  top: 185px;
  left: -10px;
}

#monitor {
  top: 80px;
  left: -80px;
}

#desk {
  top: 145px;
  left: -120px;
}

#cans {
  top: 120px;
  left: 160px;
}

#can, #candrink {
  width: 30px;
  top: 200px;
  left: 30px;
}

#candrink {
  opacity: 0;
}

#eyelids {
  opacity: 0;
  left: 65px;
  top: 15px;
}

#antennaright {
  transform-origin: 5px 44px;
  left: 128px;
  top: 38px;
}

#antennaleft {
  transform-origin: 5px 44px;
  left: 86px;
  top: 19px;
}

#left > div {
  margin-top: 50px;
  margin-bottom: 50px;
}

#technologies {
  width: 100%;
}

#technologies ul {
  display: inline-block;
  vertical-align: top;
  width: 29%;
}

#technologies ul h3 {
  margin-bottom: 10px;
}

#technologies ul:last-child {
  width: 38%;
}

hr {
  border-style: solid;
  opacity: .15;
  margin: 5px 0px;
}

#project ul {
  margin-left: 260px;
}

#project ul li{
  display: inline-block;
  margin-left: -260px;
  text-align: center;
}

#project ul li:first-child{
  text-align: left;
}

#project ul li:last-child{
  text-align: right;
}
