#landing {
  background-color: black;
  z-index: -1;
}

#ui {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  max-width: 400px;
  transition: 1s linear width;
}

#content {
  position: relative;
  padding: 15px;

  margin: 0 auto;
  max-width: 400px;
  height: 640px;
  top: 50vh;
  transform: translateY(-50%);
  transition: 1s linear max-width;

  &.single-screen {
    max-width: 400px;
  }

  &.not-home #ui {
    transition: 1s linear opacity;
    opacity: 0;
  }

  @media (min-width: 1000px) {
    &.not-home {
      max-width: 900px;

      #ui {
        opacity: 1;
      }
    }
  }
}

#content-frame {
  position: absolute;
  opacity: 1;
  max-width: 476px;
  width: 100%;
  height: 100%;
  max-height: 640px;
  z-index: 10;
  padding: 65px 0px 60px 0px;
  bottom: 0;
  top: 0;
  right: 0;

  .footer {
    color: #333;
    font-size: 0.75em;
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
  }

  .frame {
    position: relative;
    width: 100%;
    height: 100%;

    .title {
      margin-top: 20px;
    }
  }

  .menu-button {
    position: absolute;
    right: 10px;
  }

  // [ui-view] {
  //   opacity: 0;
  //   transition: 3s linear all;
  // }

  // [ui-view].ng-enter-active {
  //   opacity: 1;
  //   background-color: red;
  // }

  &.ng-hide-add, &.ng-hide-remove {
    transition: all linear 0s;

    .container {
      opacity: 0;
    }
  }

  &.ng-hide-remove-active {
    opacity: 0;

    animation: flicker 0.2s;
    animation-delay: 1.5s;
  }

  &.ng-hide-add-active {
    animation: flicker 0.2s;
  }

  @keyframes flicker {
    0%   {opacity: .2;}
    25%  {opacity: .2;}
    50%  {opacity: .6;}
    75%  {opacity: .2;}
    88%  {opacity: .9;}
    100% {opacity: .5;}
  }

  @media (min-width: 1000px) {
    .menu-button {
      display: none;
    }
  }
}

.chat-container {
  position: absolute;
  top: 80px;
  left: 15px;
  height: 102px;
  width: 188px;
}

#scene {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;

  & * {
    position: absolute;
  }
}

// ROBOT STYLING
#robot, #items {
  left: 50px;
  top: 180px;
}

#robot {
  position: absolute;
  height: 300px;
  width: 225px;
  right: 0;
}

#items {
  position: absolute;
  right: 0;
  height: 367px;
}

.preload-images {
  position: absolute;
  display: none;
  left: 9999px;
}

#window {
  right: 10px;
  top: 125px;
  width: 130px;
}

#light {
  position: absolute;
  transform-origin: 137px 0px;
  opacity: 0.6;
  top: 0px;
  right: 15px;
  width: 200px;
  transform: rotate(3deg);
}

#bulb {
  height: 140px;
  right: 50%;
  opacity: 0.9;
  transform: translate(50%);
}

#glare {
  width: 250px;
  top: 120px;
  right: 50%;
  transform: translate(50%);
}

#head {
  left: 65px;
  top: 15px;
}

#armleft {
  transform-origin: 60px 0px;
  left: 18px;
  top: 100px;
  width: 80px;
  height: 100px;
}

#armleftbicep {
  left: 35px;
}

#armleftfront {
  transform-origin: 41px 7px;
  top: 50px;
}

#armright {
  transform-origin: 50px 0px;
  left: 85px;
  top: 120px;
  width: 90px;
  height: 100px;
}

#armrightbicep {
  left: 48px;
  top: 0px;
}

#armrightfront {
  transform-origin: 62px 9px;
  display: block;
  top: 68px;
}

#torsotop {
  left: 65px;
  top: 70px;
}

#torsodown {
  left: 85px;
  top: 140px;
}

#leg {
  left: 100px;
  top: 160px;
}

#wheel {
  left: 90px;
  top: 210px;
}

#keyboard {
  top: 185px;
  left: -10px;
}

#monitor {
  top: 80px;
  left: -80px;
}

#desk {
  top: 145px;
  left: -120px;
}

#cans {
  top: 290px;
  width: 100px;
  right: 50px;
}

#can, #candrink {
  width: 30px;
  top: 200px;
  left: 30px;
}

#candrink {
  opacity: 0;
}

#eyelids {
  opacity: 0;
  left: 65px;
  top: 15px;
}

#antennaright {
  transform-origin: 5px 44px;
  left: 128px;
  top: 38px;
}

#antennaleft {
  transform-origin: 5px 44px;
  left: 86px;
  top: 19px;
}
