#landing.layout-full(ng-class='{"single-screen": vm.state.is("home")}')
  #ui
    .header
      h1 Nick Touchette
      p Full Stack #[br] Web Developer

    .chat-container
      #robot-chat
        object(type='image/svg+xml', data='./assets/images/svgs/chat-bubble.svg')
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales, nisi eu dignissim facilisis, sem mi posuere.
        //- p Welcome
    #scene
      #container
        img#window(src='./assets/images/window.gif')
        img#cans(src='./assets/images/canpile.png')
        #light
          img#bulb(src='./assets/images/lightbulb.png')
          img#glare(src='./assets/images/glare.png')
        #robot
          img#wheel(src='./assets/images/robot/robot-wheel.png', alt='wheel')
          img#leg(src='./assets/images/robot/robot-leg.png', alt='leg')
          #armleft
            img#armleftbicep(src='./assets/images/robot/robot-arm-left.png', alt='arm-left')
            img#armleftfront(src='./assets/images/robot/robot-arm-left-front.png', alt='arm-left-front')
          img#torsodown(src='./assets/images/robot/robot-torso-down.png', alt='torso-down')
          img#torsotop(src='./assets/images/robot/robot-torso-top.png', alt='torso-top')
          #armright
            img#armrightbicep(src='./assets/images/robot/robot-arm-right.png', alt='arm-right')
            img#armrightfront(src='./assets/images/robot/robot-arm-right-front.png', alt='arm-right-front')
          img#antennaleft(src='./assets/images/robot/antenna.png')
          img#head(src='./assets/images/robot/robot-head-up.png', alt='head')
          img#eyelids(src='./assets/images/robot/eyelidsup.png')
          img#antennaright(src='./assets/images/robot/antenna.png')
        #items
          img#desk(src='./assets/images/desk.png')
          img#keyboard(src='./assets/images/keyboard.png')
          img#can(src='./assets/images/can.png')
          img#candrink(src='./assets/images/candrink.png')
          img#monitor(src='./assets/images/monitor.png')

    #user-chat
      object(type='image/svg+xml', data='./assets/images/svgs/chat-bubble2.svg')
      ul
        li Take the Tour
        li #[a(ui-sref='about') About]
        li #[a(ui-sref='projects') Projects]
        li #[a(ui-sref='contact') Contact]

  #content-frame(ng-class='{show: !vm.state.is("home")}')
    .frame
      object(type='image/svg+xml', data='./assets/images/svgs/panel-frame.svg')
      .container(ui-view)

    button.menu-button
      object(type='image/svg+xml', data='./assets/images/svgs/chat-button.svg')
      span Menu
