.header
  h1 Nick Touchette #[span Full Stack Web Developer]

.chat-bubble.robot
  object(type='image/svg+xml', data='./assets/images/svgs/chat-bubble.svg')
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales, nisi eu dignissim facilisis, sem mi posuere.

.chat-bubble.user
  object(type='image/svg+xml', data='./assets/images/svgs/chat-bubble2.svg')
  ul
    li Take the Tour
    li About
    li Projects
    li Contact

object.frame(style="width: 400px; height:500px;",type='image/svg+xml', data='./assets/images/svgs/panel-frame.svg')

.title Test Title

button.menu-button
  object(type='image/svg+xml', data='./assets/images/svgs/chat-button.svg')
  span Menu

.project-preview
  img()
  span Project Title

.input-container
  p.label Input Label
  input(type='text')

input(type='submit')

p MOre
p stuff
p beyond
