#landing.layout-full
  #content(ng-class='{"single-screen": vm.state.is("home"), "not-home": !vm.state.is("home")}')
    #header
      h1 Nick Touchette
      p Full Stack #[br] Web Developer
    #ui
      .chat-container
        #robot-chat
          object(type='image/svg+xml', data='./assets/images/svgs/chat-bubble.svg')
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales, nisi eu dignissim facilisis, sem mi posuere.
          //- p Welcome

      robot#scene

      #user-chat
        object(type='image/svg+xml', data='./assets/images/svgs/chat-bubble2.svg')
        ul
          li Take the Tour
          li #[a(ui-sref='about') About]
          li #[a(ui-sref='projects') Projects]
          li #[a(ui-sref='contact') Contact]

    #content-frame(ng-hide='vm.state.is("home")')
      .frame
        object(type='image/svg+xml', data='./assets/images/svgs/panel-frame.svg')
        .container(ui-view)

      a.menu-button(ui-sref='home')
        object(type='image/svg+xml', data='./assets/images/svgs/chat-button.svg')
        span Menu

    #footer Built by Nick &bull; Sourcecode on Github
