.modal {
  position: relative;
  background-image: url('../assets/images/foreground.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 2em auto;

  max-width: 900px;
  height: 500px;
  overflow: hidden;

  box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.45);
  // animation: 5s ease-in-out rotate infinite alternate;

  // @keyframes rotate {
  //   0% {transform: translate(-50%, -50%) perspective(500px) rotateY(-0.5deg);}
  //   100% {transform: translate(-50%, -50%) perspective(500px) rotateY(0.5deg);}
  // }

  .inner-body {
    position: relative;
    height: 100%;

    .header {
      position: absolute;
      font-family: novecento;
      color: $arsenic;
      top: 2em;
      left: 2.5em;
      z-index: 10;
      text-align: center;
      line-height: 2em;

      .name {
        font-size: 3em;
        font-weight: bold;
      }
      .skill {
        font-size: 1.79em;
      }
    }

    .image {
      position: relative;
      display: inline-block;
      overflow: hidden;
      width: 50%;
      height: 100%;
      font-size: 0;
      vertical-align: top;

      img {
        width: 100%;
      }
    }

    .content {
      position: absolute;
      display: inline-block;
      width: 50%;
      height: 100%;
      overflow: hidden;

      .wrapper {
        position: relative;
        display: block;
        overflow-y: scroll;
        width: 103%;
        height: 100%;
      }

      .body {
        position: relative;
        height: 100%;
        display: inline-block;
      }

      .text {
        font-weight: 100;
        font-size: 0.85em;
        line-height: 1.9em;
        padding-top: 10%;
        padding-left: 30%;
        margin: 0px 30% 4px 0px;
      }
    }

    .aside {
      position: absolute;
      display: inline;
      right: 0;
      width: 10%;
      height: 100%;
      border-left: 1px solid rgba(255,255,255,0.1);
    }
  }

  .title {
    position: absolute;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    color: $alice-blue;
    letter-spacing: 0.18em;
    font-size: 3em;
    top: 1em;
    left: 1em;

    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;

    &.ng-animate {
      transition: 0.5s all linear;
    }

    &.ng-leave.ng-leave-active,
    &.ng-enter {
      letter-spacing: 0.5em;
      opacity: 0;
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active {
      letter-spacing: 0.18em;
      opacity: 1;
    }
  }
}
