.modal
  .inner-body
    .header
      .name {{title}}
      .skill {{subTitle}}
    .image
      img(ng-src='{{scroll.image || sections[0].image}}')
    .content
      .wrapper(scroll-position='scroll')
        modal-section(ng-repeat='section in sections' active='scroll.position === section.title' content='::section' on-finish-render='init()')
    .aside
      span {{scroll.position}}
