#about
  .title #[span About]
  .top
    .img-container
      object(type="image/jpg" data='./assets/images/FaceShotOptimized.jpg')
        .no-image
    p A web developer with an interest and the commitment to adapt to any stack technology that comes my way.  Attended General Assembly to become relevant with the MEAN stack, Ruby, and industry best practices.  I have completed several projects to demonstrate my knowledge of each technology.  Source code with a live link can be found on my Github account.
  .title #[span Skills]
  .bottom
    ul.column
      li.header Front-End
      li CSS3
      li HTML5
      li jQuery
      li Angular
    ul.column
      li.header Back-End
      li Node.js
      li Ruby on Rails
      li Sinatra
      li REST Api
      li PostgreSQL
      li MongoDB
    ul.column
      li.header Project  #[br] Management
      li Github
      li Trello
