#about
  .title #[span About]
  .top
    .img-container
      object(type="image/jpg" data='./assets/images/monitor/asdfsd.gif')
        .no-image
    p Lorem ipsum dolor sit amet, vis dignissim signiferumque ut, vix nobis rationibus te. Eu eam elitr torquatos instructior, ne duo nemore iriure phaedrum. Mea ea malis ignota petentium.
  .title #[span Skills]
  .bottom
    ul.column
      li.header Front-End
      li CSS3
      li HTML5
      li jQuery
      li Angular
    ul.column
      li.header Back-End
      li Node.js
      li Ruby on Rails
      li REST Api
      li PostgreSQL
      li MongoDB
    ul.column
      li.header Project  #[br] Management
      li Github
      li Trello
