#about
  .title #[span About]
  .top
    .img-container
      object(type="image/jpg" data='./assets/images/FaceShotOptimized.jpg')
        .no-image
    p In an industry where technologies are consistently changing, I have devoted much time to stay relevant.  With traditional experience in Java and C++, I have shifted my focus to embrace newer stack technologies that allow for rapid development.  I have built several full-stack apps which use Node.js and Rails/Sinatra as the back-end framework, and various front-end frameworks.  Source code with a live link can be found on my Github account.
  .title #[span Skills]
  .bottom
    ul.column
      li.header Front-End
      li CSS3
      li HTML5
      li jQuery
      li Angular
    ul.column
      li.header Back-End
      li Node.js
      li Ruby on Rails
      li Sinatra
      li REST Api
      li PostgreSQL
      li MongoDB
    ul.column
      li.header Project  #[br] Management
      li Github
      li Trello
