#about {
    .title {
      clear: right;
    }

  .top {
    position: relative;
    width: 100%;

    p {
      margin: 0;
    }

    .img-container {
      display: inline-block;
      vertical-align: top;
      margin: 0px 8px 8px 8px;
      float: right;
      font-size: 0;

      object {
        max-width: 100px;
      }
    }
  }

  .bottom {
    position: relative;
    font-size: 0;

    .column {
      display: inline-block;
      margin: 0;
      font-size: 16px;
      width: 33.33333%;
      vertical-align: top;
    }

    .header {
      margin-top: 0;
      margin-bottom: 5px;
      font-weight: bold;
      color: white;
    }

    li {
      color: #92FF50;
    }
  }
}
