#about
  .title #[span About]
  .row
    .img-container
      object(type="image/jpg" data='./assets/images/monitor/asdfsd.gif')
        .no-image
    p Lorem ipsum dolor sit amet, vis dignissim signiferumque ut, vix nobis rationibus te. Eu eam elitr torquatos instructior, ne duo nemore iriure phaedrum. Mea ea malis ignota petentium.
  .title #[span Skills]
