#contact {
  position: relative;

  .column {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-right: -4px;

    .icon-linkedin,
    .icon-github {
      font-size: 20px;
    }

    span {
      position: absolute;
      top: 1px;
      font-weight: bold;
      padding-left: 5px;
    }
  }
}
