#content-frame
  .frame
    object(type='image/svg+xml', data='./assets/images/svgs/panel-frame.svg')
    .container(ui-view)

  button.menu-button
    object(type='image/svg+xml', data='./assets/images/svgs/chat-button.svg')
    span Menu
