#content-frame {
  position: relative;
  display: inline-block;

  .frame {
    position: relative;
    width: 297px;
    height: 401px;

    .title {
      margin-top: 20px;
    }
  }

  .menu-button {
    position: absolute;
    right: 10px;
  }
}
