#contact
  .title #[span Contact]
  p Lorem ipsum dolor sit amet, vis dignissim signiferumque ut, vix nobis rationibus te. Eu eam elitr torquatos instructior, ne duo nemore iriure phaedrum. Mea ea malis ignota petentium.

  .column
    .icon-linkedin
    span nicktouchette
  .column
    .icon-github
    span nicktouchette

  .form
    .input-container
      p.label Name
      input(type='text')
    .input-container
      p.label How to reach you
      input(type='text')
    .input-container
      p.label Message
      textarea(rows="4" cols="50")

    input(type='submit')
