#projects
  .title #[span Projects]
  ul.project-list
    p Front-End
    li.project-preview
      img()
      span Project Title
  ul.project-list
    p Full-Stack
    li.project-preview
      img()
      span Project Title
    li.project-preview
      img()
      span Project Title
